{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Calorie Meter</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Modernizer for Portfolio -->
    <script src="{% static 'js/modernizer.js' %}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version"> 

	<!-- Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header tit-up">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body customer-box">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li><a class="active" href="#Login" data-toggle="tab">Login</a></li>
					<li><a href="#Registration" data-toggle="tab">Registration</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="Login">
						<form  action="{% url 'user_login' %}" method='post' class="form-horizontal">
							{% csrf_token %}
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" name="email" id="email1" placeholder="Email Id" type="text" required>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" type="password" required>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-light btn-radius btn-brd grd1" >
										Submit
									</button>
									<a class="for-pwd" href="javascript:;">Forgot your password?</a>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane" id="Registration">
						<form role="form" action="{% url 'user_register' %}" enctype="multipart/form-data" method='post' class="form-horizontal">
							{% csrf_token %}
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" placeholder="Name" name='name' type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" name='email' id="email" placeholder="Email" type="email">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control"  id="mobile"name='contact' placeholder="Mobile" type="tel">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="password" name='password' placeholder="Password" type="password">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="password" name='pic' placeholder="Profile pic" type="file">
									
								</div>
							</div>
							<div class="row">							
								<div class="col-sm-10">
									<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
										Save &amp; Continue
									</button>
									<button type="button" class="btn btn-light btn-radius btn-brd grd1">
										Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	
	<script>
        function validateForm(event) {
          event.preventDefault(); // Prevent form submission
    
          // Get input values
          var email = document.getElementById('email1').value;
          var password = document.getElementById('exampleInputPassword1').value;
    
          // Perform validation
          if (email === 'bca@123.com' && password === 'passss') {
            // Successful login
            alert('Login successful!');
            window.location.href = "{% url 'dashboard' %}";
            // You can redirect the user to another page or perform any other action here
          } else {
            // Invalid login
            alert('Invalid email or password. Please try again.');
            // You can display an error message or perform any other action here
          }
        }
      </script>

    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="{% static 'images/th.jpg' %}" height="70px" width="140px" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>

						<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log" href="#" data-toggle="modal" data-target="#login"><span>Sign Up</span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
	</header>
    <!-- enf of header -->
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Contact<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
		</div>
	</div>
	
    <div id="contact" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Need Help? Sure we are Online!</h3>
                <p class="lead">Let us give you more details about the special offer website you want us. Please fill out the form below. <br>We have million of website owners who happy to work with us!</p>
            </div><!-- end title -->
        </div><!-- end container -->
    </div><!-- end section -->



	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up" data-aos-delay="100">
  
		  <div class="row gy-4">
			<div class="col-lg-6">
			  <div class="info-item  d-flex flex-column justify-content-center align-items-center text-center">
				<i class="bi bi-map"></i>
				<h3>Our Address</h3>
				<p >#2nd Floor, Siris Rd, Near L.B Nagar Metro Station Pillar No A1662, Snehapuri Colony, Hyderabad, Telangana 500074</p>
			  </div>
			</div><!-- End Info Item -->
  
			<div class="col-lg-3 col-md-6">
			  <div class="info-item d-flex flex-column justify-content-center align-items-center">
				<i class="bi bi-envelope"></i>
				<h3>Email Us</h3>
				<p>projects@codebook.in</p>
			  </div>
			</div><!-- End Info Item -->
  
			<div class="col-lg-3 col-md-6">
			  <div class="info-item  d-flex flex-column justify-content-center align-items-center">
				<i class="bi bi-telephone"></i>
				<h3>Call Us</h3>
				<p>+1 5589 55488 55</p>
			  </div>
			</div><!-- End Info Item -->
  
		  </div>
  
		  <div class="row gy-4 mt-1">

			<div class="col-lg-6 ">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3808.238101991872!2d78.54680960929635!3d17.352272103749954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9978d5a0a633%3A0x7f965425ffaf7960!2sCodebook!5e0!3m2!1sen!2sin!4v1687435811382!5m2!1sen!2sin" width="100%" height="384px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div><!-- End Google Maps -->
  
			<div class="col-lg-6">
			  <form action="forms/contact.php" method="post" role="form" class="php-email-form">
				<div class="row gy-4">
				  <div class="col-lg-6 form-group">
					<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
				  </div>
				  <div class="col-lg-6 form-group">
					<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
				  </div>
				</div>
				<div class="form-group">
				  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
				</div>
				<div class="form-group">
				  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
				</div>
				<div class="my-3">
				  <div class="loading">Loading</div>
				  <div class="error-message"></div>
				  <div class="sent-message">Your message has been sent. Thank you!</div>
				</div>
				<div class="text-center  bg-warning"><button type="submit">Send Message</button></div>
			  </form>
			</div><!-- End Contact Form -->
  
		  </div>
		  <div id="custom-places"></div>
		</div>
	  </section>
	
	

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About US</h3>
                        </div>
                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>
                        <div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul><!-- end links -->
						</div>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
							<li><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">projects@codebook.in</a></li>
                            <li><a href="calorie:#">https://codebook.in</a></li>
                            <li>#2nd Floor, Siris Rd, Near L.B Nagar Metro Station Pillar No A1662, Snehapuri Colony, Hyderabad, Telangana 500074
							</li>
                            <li>+91 8555 8879 86</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; <a href="{% url 'home' %}">mycalories</a> Design By : <a href="https://codebook.in/">Codebook</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/all.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCKjLTXdq6Db3Xit_pW_GK4EXuPRtnod4o"></script>
	<!-- Mapsed JavaScript -->
	<script src="{% static 'js/mapsed.js' %}"></script>
	<script src="{% static 'js/01-custom-places-example.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/map.js' %}"></script>
	{% if messages %}
	{% for message in messages %}
	{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
	<script>swal({
			title: "Success!",
			text: "{{message}}",
			icon: "success",
			button: "OK",
		});
	</script>
	{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
	<script>swal({
			title: "Warning :)",
			text: "{{message}}",
			icon: "warning",
			button: "OK",
		 
		});
	</script>
	{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
	<script>swal({
			title: "info :)",
			text: "{{message}}",
			icon: "info",
			button: "OK",
		});
	</script>
	{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
	<script>swal({
			title: "error :)",
			text: "{{message}}",
			icon: "error",
			button: "OK",
		});
	</script>
	{% endif %}
	{% endfor %}
	{% endif %}
</body>
</html>
